# Ignorar caché de Angular
frontend-estetica/.angular/

# Ignorar node_modules
frontend-estetica/node_modules/

# Ignorar archivos de logs
*.log

# Ignorar archivos de sistema
.DS_Store
backend-estetica/.env
backend-estetica/node_modules/.package-lock.json
backend-estetica/package-lock.json
backend-estetica/package.json
