<section class="content mt-4">
  <div class="container-fluid">
    <div class="col-md-12">
      <!-- general form elements disabled -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Tratamientos</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <form [formGroup]="treatmentForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-sm-6">
                <!-- text input -->
                <div class="form-group">
                  <label>Nombre</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Tratamiento facial"
                    formControlName="name"
                  />
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Precio | Importe</label>
                  <input
                    type="number"
                    class="form-control"
                    placeholder="$1.000"
                    formControlName="price"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <!-- textarea -->
                <div class="form-group">
                  <label>Observación</label>
                  <textarea
                    class="form-control"
                    rows="3"
                    placeholder="Enter ..."
                    formControlName="observation"
                  ></textarea>
                </div>
              </div>
              <div class="col-sm-3">
                <!-- select -->
                <div class="form-group">
                  <label>Estado</label>
                  <select class="form-control" formControlName="state">
                    <option>Alta</option>
                    <option>Baja</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="">
              <button
                type="submit"
                class="btn btn-danger me-2"
                mat-dialog-close
              >
                Atras
              </button>
              <button
                type="submit"
                class="btn btn-primary"
                style="margin-left: 1rem"
                [disabled]="treatmentForm.invalid"
              >
                Agregar
              </button>
            </div>
          </form>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

      <!-- /.card -->
    </div>
  </div>
</section>
